/*селектор по тегу*/
a {
  color: teal;
}
/*Селектор по классу*/
.MySelectorClass
{
  font-size: 110%;
  color: blue;
}
/*Селектор по id*/
#input1
{
  color: aquamarine;
}
/*Селектор по аттрибуту*/
[placeholder] {
  border: 3px solid darkgreen;
}
[type="text"] {
  box-shadow: 3px 3px 3px 3px lawngreen;
}
/* Спец символы для селекторов по аттрибуту
   *= - все элементы, включающие в себя указанную часть текста
   ^= - все элементы, начинающиеся с ...
   $= - все элементы, оканчивающиеся на ...
   ~= - все элементы, содержащие слово ...
   |= - начинается со слова ...*/
/*Ещё для селекторов
   Оператор i - игнорирует регистр (не работает с кириллическим алфавитом)
   Селектор * - выбирает всё на странице*/
[href*=".html"] {
  background: blanchedalmond;
}
/*Цепочка потомков*/
body p {
  color: aqua;
}
body p span {
  color: magenta;
}
/*Группировка селекторов*/
h1, h2, h3, h4 {
  font-family: "Arial";
}
/*селектор по нескольким классам.
Действует при наличии у объекта всех перечисленных классов*/
.class1.class2 {
  color: #284234;
}
/*Выбор прямого дочернего элемента 
(сына, без выбора внуков и последующих потомков)*/
body > p {
  font-size: 20px;
}
/*Выбирает следующий элемент, находящийся на том же уровне вложенности
Тут будет изменён элемент тега p, находящийся после h2*/
h2 + p {
  align-self: auto;
}
/*Популярный примём: элемент input, за ним следует скрытый */
/*текст с сообщением об ощибке. При ошибке input + p становится виден*/

/*Смежный селектор ~ - выбирает все элементы, лежащие следующими за тегом*/
h2 ~ p {
  color: red;
}
/*Чем ниже объявлено правило - тем оно важнее !!!*/

/*display - тип отображения контента*/

/*box-sizing: border-box; - размеры width и hight будут задаваться,*/
/*включая в себя padding, border и т.п.*/